@media (max-width: 992px) {
    .top-nav{
        display: none;
    }
    .mobile-menu{
        display: block !important;
        width: 40px;
        height: 35px;
        background-color: coral;
        z-index: 3;
    }
    .top-nav.show{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 57px;
        top: 0;
        background-color: peachpuff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    .top-nav.show a {
        margin: 0;
    }
}